.wrapper {
    width: 60%;
    height: 100%;
    margin: auto;
}
.b {
    color: black;
    text-decoration: none;
}

.title {
    margin: 20px 0 20px 0;
    overflow: hidden;
    /* text-align: center; */
}

.rows {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    height: 100%;
    overflow-x: visible;

    .row {
        width: 100%;
        cursor: pointer;
        transition: 0.2s linear;
        background-size: cover;
        /* max-height: 450px !important; */
        height: 280px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        border-bottom: solid 5px orange;
        min-height: 400px;

        .link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            text-decoration: none;
            .image {
                margin: 5px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                /* height: 100%px; */
                width: 70%;
                /* max-width: 100%; */
                overflow: none;
                /* width: 100%; */
                /* height: auto; */
            }

            .content {
                background: transparent;
                padding: 0px 5px;
                margin: 0px;
                font-size: 12px;
                font-weight: normal;
                text-align: center;
                color: rgb(80, 79, 79);
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .content-title {
                    font-size: 24px;
                    font-weight: bolder;
                    margin: 20px 0;
                    width: 100%;
                    word-wrap: break-word;
                    b {
                    }
                }

                .content-date {
                    font-size: 12px;
                }
            }
        }
    }

    .row:hover {
        transform: scale(1.01);
        box-shadow: 0 0 20px rgb(88, 90, 90);
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        min-width: 80vw;
    }

    .title {
        font-size: 26px;
    }

    .rows {
        display: flex;
        flex-direction: column;
    }

    .rows:active {
        transform: scale(1.01);
        box-shadow: 0 0 20px rgb(88, 90, 90);
    }
}

@keyframes loadingAnimation {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.rows {
    .container-skeleton {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        animation: loadingAnimation 1.5s infinite; /* Apply animation to the container */

        .image-skeleton {
            width: 100%;
            height: 100px;
            background-color: #f0f0f0;
            border-radius: 10px;
        }

        .content-skeleton {
            width: 100%;
            .title-skeleton {
                width: 100%;
                height: 20px;
                background-color: #f0f0f0;
                border-radius: 4px;
                margin: 10px 0;
            }

            .date-skeleton {
                width: 60%;
                margin: auto;
                height: 20px;
                background-color: #f0f0f0;
                border-radius: 4px;
            }
        }
    }
}
