/* .container {
    font-family: sans-serif;
    padding: 20px;
}

.heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.event {
    margin-bottom: 40px;
}

.event-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.img {
    width: calc(25% - 10px);
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.img:hover {
    transform: scale(1.1);
} */

.container {
    font-family: sans-serif;
    padding: 20px;
    display: grid;
    place-items: center;

    .heading {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .event {
        margin-bottom: 40px;
        width: 80vw;
        overflow: hidden;

        .event-title {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .images {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            overflow: hidden;
            .img {
                aspect-ratio: 4/3;
                object-fit: contain;
            }

            .img:hover {
                transform: scale(1.01);
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        display: flex;
        width: 100vw;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 0;

        .event {
            .images {
                display: flex;
                flex-direction: column;

                .img {
                    aspect-ratio: 4/3;
                    object-fit: contain;
                    height: 30vh;
                }
            }
        }
    }
}
