:root {
    font-size: 20px;
}

* {
    margin: 0;
}

@media (max-width: 1439px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 1057px) {
    :root {
        font-size: 10px;
    }
}

/* Mobile view */
@media (max-width: 767px) {
    :root {
        font-size: 10px;
    }
}
